@import 'constants.scss';

.search {
  width: calc(100% - 196px);
  height: calc(46px + 24px);
  margin: auto;
  padding: 12px 16px;
  background: rgba(0,0,0,0.3);
  font-family: $font;
  display: flex;
  position: relative;
  align-items: center;
  .dropdown-group {
    position: relative;
  }
  p {
    line-height: 20px;
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  .DateInput {
    input {
      text-align: center;
    }
  }
  .location-search {
    width: 350px;
    padding-left: 8px;
    height: 46px;
    color:$black;
    font-size: 19px;
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color:#484848;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:#484848;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color:#484848;
    }
  }
  .DateRangePickerInput__withBorder {
    border: 0;
  }
  .v-line {
    background: transparent;
    height: 100%;
    width: 2px;
    display: inline-block;
  }
  button.submit {
    cursor: pointer;
    background: $blue;
    height: 46px;
    border-radius: 40px;
    width: 140px;
    font-size: 20px;
    color: $offwhite;
    position: absolute;
    right: 0;
    margin-right: 8px;
  }
  button.guest-selector {
    background: #fff;
    width: 130px;
    height: 46px;
    color: #484848;
    font-size: 19px;
  }
}
.hidden {
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.button-group {
  text-align: right;
  button.apply-guests {
    cursor: pointer;
    background: $blue;
    height: 32px;
    line-height: 32px;
    border-radius: 40px;
    width: auto;
    font-size: 14px;
    color: $offwhite;
    position: relative;
    padding: 0 16px;
    margin-top: 8px;
  }
}
